body {
    background-color: azure;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    padding: 20px;
}

.table-list {
    border: 2px solid black;   
    background-color: white;
    text-align: center;
    padding: 25px 10px;
    margin: 50% 10px 10px 10px;
    border: none !important;
}